.card {
  width: 750px;
  margin: 70px auto;
  box-shadow: 10px 5px 5px gray;
}
.card-header .logo {
  font-size: 50px;
  font-weight: 700;
}

.card-body {
  background: linear-gradient(#00bdfe, #00cbfe, #5adeff, #d8f2ff, #84e4f7);
  border-radius: 0 0 5px 5px;
}

hr {
  border: 2px solid #bea42e;
  margin: 0px 100px;
}
