li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Roboto Slab";
  font-weight: 700;
  color: rgb(15, 15, 94);
}

li:first-letter {
  text-transform: capitalize;
}
