.Weather {
  font-family: arial, sans-serif;
  border: 1px solid goldenrod;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Roboto Slab";
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 24px;
  font-family: "Roboto Slab";
  font-weight: 500;
  color: rgb(15, 15, 94);
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-family: "Roboto Slab";
  font-weight: bold;
  color: goldenrod;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 20px;
  font-family: "Roboto Slab";
  font-weight: 900;
  text-decoration: none;
  top: -24px;
  position: relative;
}
