.Weather {
  background: linear-gradient(#fbd1d3, #f198af, #ebb2d6, #9f81cd, #766dc1);
  font-family: arial, sans-serif;
  border: 1px solid gold;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 10px 5px 5px gray;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Roboto Slab";
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 24px;
  font-family: "Roboto Slab";
  font-weight: 500;
  color: rgb(15, 15, 94);
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-family: "Roboto Slab";
  font-weight: 600;
  color: gold;
  font-size: 64px;
  line-height: 64px;
  margin-left: 15px;
}

.Weather .unit {
  font-size: 20px;
  font-family: "Roboto Slab";
  font-weight: 900;
  text-decoration: none;
  top: -24px;
  margin-left: 5px;
  position: relative;
}
